<% if user_signed_in? %>
  <%= link_to 'New Article', new_article_path, class: 'btn btn-outline-primary' %>
<% end %>

<% if @articles.empty? %>
  <h1 id="no-articles">No articles created</h1>
<% else %>
  <% @articles.each do |article| %>
  <div class="well well-lg">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= link_to article.title, article_path(article) %></h5>
        <p class="card-text"><%= truncate(article.body, length: 500) %></p>
        <p><%= "Created by: #{article.user.email}" %></p>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
