<%= link_to 'New Article', new_article_path, class: 'btn btn-outline-primary' %>

<% @articles.each do |article| %>
  <div class="well well-lg">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= link_to article.title, article_path(article) %></h5>
        <p class="card-text"><%= truncate(article.body, length: 500) %></p>
      </div>
    </div>
  </div>
<% end %>
